fastapi==0.110.0
uvicorn==0.29.0

sqlalchemy==2.0.25
sqlalchemy-utils==0.41.2
alembic==1.13.1

pydantic==2.8.0
pydantic-settings==2.2.1

python-dotenv==1.0.1

apscheduler==3.10.4

langchain
langchain-google-genai

google-genai

python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-multipart

httpx
requests

python-dateutil

pytest
pytest-asyncio

streamlit
pandas==2.2.3
plotly==5.20.0
email-validator==2.3.0